@import "scrollbar.css";
@import "colors.css";
@import "markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  p {
    @apply mb-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply
      font-bold
      mb-1
      text-c-gray-800 dark:text-c-gray-50
    ;
  }

}

body {
  @apply
    font-display
    text-base font-normal
    text-c-gray-600 dark:text-c-gray-300
    transition
  ;

  overflow-y: visible; /* 반드시 overlay 처리 */
  background-color: rgba(var(--back));
}


@keyframes slideUp0 {
  0% {

    /*transform: translateX(-20rem);*/
    opacity: 0;
    transform: rotateY(-180deg);
  }
  100% {
    transform: translateY(-2rem);
    opacity: 100;
  }
}

@keyframes slideUp1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-4rem);
    opacity: 100;
  }
}


.slideUp0 {
  animation: slideUp0 1s ease-in-out forwards;
}

.slideUp1 {
  animation: slideUp1 1s ease-in-out forwards;
}

.portfolio-card-container:hover{
  & .portfolio-card-img{
    @apply ease-out duration-300 scale-110;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.underline, .underline:before, .underline:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.project-modal{

  @apply mx-4 my-4 sm:my-16 sm:mx-16 p-4;
  & img{
    width: 100%;
  }
}