.box20{
    @apply inline-block;
    /*@apply text-c-gray-500 bg-zinc-50 ;*/
    @apply px-1 py-1 my-6 ;
    @apply rounded-full border border-zinc-50;
    @apply shadow-lg shadow-blue-100/50 ;
    @apply hover:shadow-xl hover:shadow-blue-100/70;
    @apply hover:bg-blue-100/20 ;

    background-color: var(--back);
    color: var(--front);


    & li:not(:last-child) {
        @apply mr-1
    }
}


.box40{
    @apply inline-block px-3 py-1;
    @apply rounded-full;
    @apply hover:bg-blue-100/75 hover:text-blue-900 hover:shadow-lg hover:shadow-blue-500/20 ;

    vertical-align: middle;
}

.box41{
    @apply inline-block px-2 py-1;
    @apply rounded-full;
    @apply hover:bg-blue-100/75 hover:text-blue-900 hover:shadow-lg hover:shadow-blue-500/20 ;

    @apply cursor-pointer;

    vertical-align: middle;
}

.activeLink{
    @apply bg-primary/10 text-primary-900 ;
    @apply dark:bg-primary/10 text-primary-900  ;
    @apply shadow-sm shadow-primary-500/20 ;

}

