.main{
    margin-bottom: 0;
}

.container{
    position: relative;
    height: 300vh;
    background-color: rgb(0, 0, 0);
}

.stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-image: url('/medias/heeje-1.svg');
    /*mask-position: 46.40% 39.98%;*/
    mask-position: 50% center;

    mask-repeat: no-repeat;
    mask-size: 80%;
}

/*.stickyMask video{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*}*/

.lottie svg{
    width: auto !important;
    /*height: 100%;*/
    /*object-fit: cover;*/
}
